<div class="container">
    <form action="/job" method='POST'>

        <div class="form-group">
            <label for="title">Job Title:</label>
            <input type="textbox" class="form-control" id="title" name="title" >
        </div>

        <div class="form-group">
            <label for="job_description">Short Description:</label>
            <input type="text" class="form-control" id="job_description" name="job_description">
        </div>

        <div class="form-group">
            <label for="website_applied">Application (URL)</label>
            <input type="text" class="form-control" id="website_applied" name="website_applied">
        </div>

        <div class="form-group">
            <label for="resume_used">Resume Version Used (URL):</label>
            <input type="text" class="form-control" id="resume_used" name="resume_used">
        </div>

        <div class="form-group">
            <label for="min_years_exp">Minimum Required Years Experience:</label>
            <input type="number" class="form-control" id="min_years_exp" name="min_years_exp">
        </div>


        <div class="form-group">
            <label for="contacted">Contacted Date:</label>
            <input type="date" class="form-control" id="contacted" name="contacted">
        </div>

        <div class="form-group">
            <label for="onsite">Onsite Date:</label>
            <input type="date" class="form-control" id="onsite" name="onsite">
        </div>

        <div class="form-group">
            <label for="offer">Offer Date:</label>
            <input type="date" class="form-control" id="offer" name="offer">
        </div>


        <div class="form-group">
            <label for="offer_amount">Offer Amount:</label>
            <input type="number" class="form-control" id="offer_amount" name="offer_amount">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>